

.float-left {
    width: 20%;
    float: left;
    margin-top: 5%;
    margin-left: 20%;
}

.side h1 {
    font-weight: bold;
    color: #FDE2F3;
}

.side {
    background-color: #917FB3;
    overflow: hidden;
    padding-bottom: 30px;
    margin: 30px;
    margin-right: 0;
    margin-left: 0;
}

.float-right{
    width: 20%;
    margin-right: 25%;
    margin-top: 5%;
    float: right;
    padding: 20px;
}

.scrolldiv {
    overflow: scroll; 
}

.whatsnew {
    margin: auto;
}