

.float-left {
    width: 20%;
    float: left;
    margin-left: 20%;
    background-color: rgb(109, 46, 120);
    border-radius: 25px;
    margin-top: 10px;
    padding-left: 5px;
}

.side h1 {
    font-weight: bold;
    color: #FDE2F3;
}

.side {
    background-color: rgba(0, 0, 0,.7);
    overflow: hidden;
    padding-bottom: 30px;
    margin-top: 150px;
    margin-bottom: 30px;
    margin-right: 0;
    margin-left: 0;
}


.float-right{
    width: 20%;
    margin-right: 25%;
    float: right;
    padding: 20px;
}

.scrolldiv {
    overflow: scroll; 
}

.whatsnew {
    height: 400px; /* or any value */
    overflow-y: auto;
}

.inner {
    position:relative;
  }

.thenews {
    
}
