.side p {
    font-size: 25px;
    text-align: justify;
    color: white;

    margin: auto;
    width: 50%;
    height: 50%;
    padding: 50px;
    top: 15%;
    left: 22%;
}

.side {
    background-color: rgba(0, 0, 0, .7);
    overflow: hidden;
    padding-bottom: 30px;
    margin-top: 150px;
    margin-bottom: 30px;
    margin-right: 0;
    margin-left: 0;
}