.bodystyle {
  background-color: #FDE2F3;
  background-image: url(../images/cool-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: raleway-semibold, raleway, sans-serif;
  margin: 0;
}

.bodystyle p {
  color: #ffffff;
  text-align: center;
}

h1 {
  font-size: 35px;
  font-weight: bold;
  color: #FDE2F3;
}

h2 {
  color: #f5f50e;
  font-size: 20px;
}

p{
  color: #f6eeee;
  font-size: 15px;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  background-color: rgba(0, 0, 0,.8);
  display: flex;
  justify-content: center;
}

.centernavbar {
  float: left;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: #FDE2F3;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: rgba(0, 0, 0,.8);
  font-weight: bold;
  font-family: raleway-semibold, raleway, sans-serif;

}

/* The dropdown container */
.dropdown {
  float: inherit;
  overflow: hidden;
}


/* Dropdown button */
.dropdown .dropbtn {
  font-weight: bold;
  font-size: 16px;
  border: none;
  outline: none;
  color: #FDE2F3;
  padding: 14px 16px;
  background-color: rgba(0, 0, 0,.8);
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: rgba(64, 61, 61, 0.8);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(64, 61, 61, 0.8);
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #FDE2F3;
  min-width: 186px;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: rgba(64, 61, 61, 0.8);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}